{
  "KHTWXAR": { "user": "administrator", "password": "vm_password_here" },
  "KHTWXDB": { "user": "administrator", "password": "vm_password_here" },
  "KHTWXFD": { "user": "administrator", "password": "vm_password_here" }
}
